.movie-item{
    position: relative;
    display: block;
    min-height: 325px;
    border-radius: 5px;
    background-color: #212121;
    border: 1px solid gray;
}
.movie-item-image img{
    width: 100%;
    border-radius: 5px;
    height: 275px;
    object-fit: cover;
}
.movie-item-rating{
    position: absolute;
    display: flex;
    align-items: center;
    top: 10px;
    left: 10px;
    background-color: #212121;
    border-radius: 5px;
    padding: 5px 10px;
}
.app-icon {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    color: #d4af37;
    margin-right: 5px;
  }
  .movie-item-title{
    font-weight: bold;
    margin: 0.5rem;
  }